*{
    color: white;
}
.logo {
    color: white;
    font-size: 40px;
    margin: 10px;}

.items {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.icon {
    font-size: 30px;
    margin: 10px;
}

.nav {
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
}